
.HomeContainer{
    position: relative;
}
.HomeContainer > .wallet-connect{
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 999;
    width: 306px;
    height: 76px;
    background-color: #150d21;
    border-radius: 16px;
    border: 2px solid;
    border-color: #ff0000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.HomeContainer > .wallet-connect > .ant-image{
}
.HomeContainer > .wallet-connect > .aWallet-label{
    padding: 0 0 0 16px;
    font-family: PingFang SC;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}
.HomeContainer > .logo-wrap{
    position: relative;
    width: 100%;
    padding: 100px 0 0 0;
    height: 1070px;
    background-image: url('/resources/images/homev2/bgimg-01.png');
    background-size: 100% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-wrap > .logo{
    width: 659px;
    height: 643px;
    background-image: url('/resources/images/homev2/logo.png');
    background-size: 100% 100%;
    background-position: left center;
    background-repeat: no-repeat;
}
.logo-wrap > .mint-btn{
    width: 575.5px;
    height: 90px;
    cursor: pointer;
    background-image: url('/resources/images/homev2/Group 17.png');
    background-size: 100% 100%;
    background-position: left center;
    background-repeat: no-repeat;
}
.logo-wrap > .arrow-bottom{
    position: absolute;
    left: 50%;
    bottom: -105px;
    transform: translate(-50%, 0);
    z-index: 10;
    width: 139px;
    height: 129px;
    cursor: pointer;
    background-image: url('/resources/images/homev2/Group 16.png');
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
}

.HomeContainer > .main{
    width: 100%;
    padding: 150px 0 150px 0;
    background-image: url('/resources/images/homev2/bgimg-02.png');
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
}
.main > .carousel-wrap{
    position: relative;
    width: 100%;
    padding: 40px 0 120px 0;
    background-image: url('/resources/images/homev2/Group 45.png');
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
}
.carousel-wrap > .carousel-title{
    width: 100%;
    margin: 0 0 10px 0;
    height: 80px;
    background-image: url('/resources/images/homev2/Group 39.png');
    background-size: 534px 50px;
    background-position: center center;
    background-repeat: no-repeat;
}
.carousel-wrap > .carousel{
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.carousel-wrap > .carousel > .ant-carousel{
    position: relative;
    width: 100%;
    height: 800px;
}
.ant-carousel > .slick-slider.slick-initialized{
    position: relative;
    width: 100%;
    height: 800px;
}
.ant-carousel > .slick-slider.slick-initialized > .slick-arrow.slick-prev{
    position: absolute;
    left: 300px;
    top: 0;
    transform: translate(0, 0);
    z-index: 10;
    width: 154px;
    height: 333px;
    opacity: 1;
    cursor: pointer;
    background-image: url('/resources/images/homev2/Group 15.png');
    background-size: 154px 244px;
    background-position: left center;
    background-repeat: no-repeat;
}
.ant-carousel > .slick-slider.slick-initialized > .slick-arrow.slick-next{
    position: absolute;
    right: 300px;
    top: 0;
    transform: translate(0, 0);
    z-index: 10;
    width: 154px;
    height: 333px;
    opacity: 1;
    cursor: pointer;
    background-image: url('/resources/images/homev2/Group 14.png');
    background-size: 154px 244px;
    background-position: left center;
    background-repeat: no-repeat;
}
.slick-arrow.slick-prev.slick-disabled,
.slick-arrow.slick-next.slick-disabled{
    display: none !important;
}
.slick-slider.slick-initialized > .slick-list{
    position: relative;
    width: 100%;
    height: 800px;
}
.slick-slider.slick-initialized > .slick-list > .slick-track{
    position: relative;
    width: 100%;
    padding: 0 0 0 960px;
    height: 800px;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide{
    position: relative;
    width: 100%;
    height: 800px;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide > div{
    position: relative;
    width: 100%;
    height: 800px;
    display: flex !important;
    justify-content: center;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide > div > .carousel-item{
    position: relative;
    width: 960px !important;
    height: 800px !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.slick-slider.slick-initialized .carousel-item > .item-avatar{
    width: 401px;
    height: 401px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-image: url('/resources/images/homev2/Group 19.png'); */
    /* background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat; */
}
.slick-slider.slick-initialized .carousel-item > .item-position{
    height: 100px;
    font-family: Pingfang SC;
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
    display: none;
}
.slick-slider.slick-initialized .carousel-item > .item-email{
    height: 100px;
    font-family: Pingfang SC;
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
    display: none;
}
.slick-slider.slick-initialized .carousel-item > .item-introduction{
    max-width: 692px;
    font-family: Pingfang SC;
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
    line-height: 30px;
    text-align: left;
    display: none;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide.slick-active .carousel-item > .item-position{
    display: inline-block !important;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide.slick-active .carousel-item > .item-email{
    display: inline-block !important;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide.slick-active .carousel-item > .item-introduction{
    display: inline-block !important;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide.slick-current .carousel-item > .item-position{
    display: inline-block !important;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide.slick-current .carousel-item > .item-email{
    display: inline-block !important;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide.slick-current .carousel-item > .item-introduction{
    display: inline-block !important;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide.slick-active + .slick-slide{
    margin: 0 0 0 -960px;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide.slick-active{
    margin: 0 0 0 -960px !important;
}
.slick-slider.slick-initialized > .slick-list > .slick-track > .slick-slide.slick-current{
    margin: 0 0 0 -960px !important;
}
.footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer > .join-community{
    width: 750px;
    height: 250px;
    background-image: url('/resources/images/homev2/Group 13.png');
    background-size: 750px 150px;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Pingfang SC;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.footer > .operations{
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.operations > .btn1{
    width: 56px;
    margin-right: 60px;
    height: 58px;
    cursor: pointer;
    background-image: url('/resources/images/homev2/Group 36.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.operations > .btn2{
    width: 56px;
    height: 58px;
    cursor: pointer;
    background-image: url('/resources/images/homev2/Group 37.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}